.header {
  padding: 5px;
  border-radius: 10px;
}
.back-btn {
  font-size: 25px;
  padding: 5px;
  color: white;
  border-radius: 5px;
  background-color: #3881ffa8;
}
.time {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
ion-input.custom-inp {
  outline-color: #3881ffa8 !important;
  --border: 1px solid red;
}
